/* .aboutus-img::before
{content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    will-change: border-radius, transform, opacity;
    animation-delay: 200ms;
    background-image: linear-gradient(120deg, rgba(255,183,47,.55) 0%, rgba(255,120,16,.89) 100%);
}
.aboutus-image{
  background: url('../pages/images/clean.png');
  position: absolute;
  left: 0px;
  top: 50%;
} */