/* @font-face {
  font-family: wolf;
  src: url(../font/icomoon.f0b8a3b3.woff2);
} */
@font-face {
  font-family: wolf;
  src: url(../font/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2);
}

body{
  font-family: wolf;
}
.paragraph{
  text-align: justify;
  font-size: 20px;
  color: gray;
}
.sub-heading{
  font-size: 25px;
}
.heading{
  font-size: 32px;
}

.card{
  border: none !important;
}
.img-curve{
  border-radius: 15px 15px 15px 15px;
}
ul {
  list-style-type: none;
}
li{
  list-style-type: none;
}
a:link { text-decoration: none; color: black;}
.gallery-images{
  grid-gap: 25px 25px;
}