.img-size {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}
.fa {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
}
.fa-map-marker {
  width: 30px;
  height: 35px;
  transition: all 0.3s ease-in-out;
}
.product-img{
  height: 250px;
  width: 250px;
}
.contact-us-font{
  font-size: 16.9px !important;
}
@media (max-width:480px) {
  .product-img{
    height: 150px;
    width: 150px;
  }
}