 .navbar {
  color: transparent !important;
}
.button {
  background-color: var(--button);
  color: #fff;
  border-color: #ff8e3c;
  outline-color: transparent;
  transition: 0.3s;
   padding-left:20px;
  padding-right:20px;
}
.btn:hover{
  background-color: var(--button);
}
.home{
  background: url('../pages/images/homepage3.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.positio{
  width: 100%;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
}
.scrolled {
  background-color: #0B0B0B !important;
}
.naav{--bs-scroll-height: 100px;} 
.my-element {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce; 
  animation-duration: 2s;
}
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}


@media screen and (max-device-width: 480px){
  .homepage-font{
    font-size: 2.7rem !important;
  }
}