.navbar-section {
  background-color: var(--button) !important;
  color: white !important;
}

.scrolled {
  background-color: #0b0b0b !important;
}
.navbar{
  background-color: aquamarine;
}
.navbar-main{
  background-color: gold !important;
}
.logo-image{
  width:125px;
  height:125px;
  padding-top: 0% !important;
  padding: 0% !important;
}

@media screen and (max-device-width: 987px){
  .navbar-nav-drop{
    float: right;
  }
}

@media screen and (max-device-width: 987px){
  .footerLink{
    float: left;
  }
}
