.navbar-section {
  background-color: var(--button) !important;
  color: white !important;
}

.scrolled {
  background-color: #0b0b0b !important;
}
.navbar{
  background-color: aquamarine;
}
.navbar-main{
  background-color: gold !important;
}


@media screen and (max-device-width: 987px){
  .navbar-nav-drop{
    /* background-color: white;
    padding: 15px;
    width: 200px; */
    float: right;
  }
}

@media screen and (max-device-width: 987px){
  .footerLink{
    float: left;
  }
}
/* @media screen and (max-device-width: 793px){
  .homepage-image-1{
    background: url('../pages/images/homepage.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1.5px);
    height: 110vh !important;
  }
  .homepage-image-2{
    background: url('../pages/images/homepage3.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1.5px);
    height: 110vh !important;
  }
} */