.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}
.text-heading {
  color: var(--subheading);
  font-size: 27px;
}
.service-icon {
  position: relative;
  margin: -50px 0 25px 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  background: #FFFFFF;
  border-radius: 100px;
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;
}
.service-item:hover .service-icon {
  color: #FFFFFF;
  background: var(--primary);
}
.iconss{
  font-size: 50px;
  color: rgb(25, 193, 25);
}
.service-img {
  height: 227px !important;
}
.small {
  color: #ff8e3c;
}


.slidername{
  margin: 5%;
}
