.tm-people {
  height: 225px;
  width: 225px !important;
  align-items: center;
}
.testimonial {
  display: "flex";
  align-items: "center";
  margin-top: 50;
}
.owl-carousel .owl-dots {
  width: 100%;
  display: inline-block;
  position: absolute;
  line-height: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  text-align: center;
  display: none;}
/* .testimonial-image{
  background: url('../pages/images/testimonial.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} */